<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.souravmunjal.doctorapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Login2" />
        <activity android:name=".Createaccount" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FreeDoctorCash" />
        <activity android:name=".refer" />
        <activity android:name=".ChangeLanguage" />
        <activity android:name=".Medicalrecords" />
        <activity android:name=".ordermedicines" />
        <activity android:name=".booklabtest" />
        <activity android:name=".chatsupport" />
        <activity android:name=".whatwetreat" />
        <activity android:name=".FAQs" />
        <activity android:name=".Rateus" />
        <activity android:name=".Contactus" />
        <activity android:name=".Profile"></activity>
    </application>

</manifest>